<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Webpage</title>
    <link rel="stylesheet" href="aboutus.css">
  </head>

  <body>

    <!--Navbar And Front-->
    <nav class="navbar">
      <h1 class="logo">Foody Panda</h1>
      <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="signup.html">SignUp</a></li>
        <li><a href="#">AboutUs</a></li>
        <li><a href="#">ContactUs</a></li>
      </ul>
    </nav>
    <header>
        <section class="contact">
            <div class="content">
                <h2>Contact Us</h2>
            </div>
            <div class="container">
                <div class="contactinfo">
                    <div class="box">
                        <div class="icon"></div>
                        <div class="text">
                            <h3>Address</h3>
                            <p>992/4 Salt Lake,<br>Agarpara<br>Kolkata-700043</P>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon"></div>
                        <div class="text">
                            <h3>Phone</h3>
                            <p>+91 7278253211</P>
                            <p>+91 7950863256</P>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon"></div>
                        <div class="text">
                            <h3>Email</h3>
                            <p>foodypanda123@gmail.com</P>
                        </div>
                    </div>
                    <div class="contactfrom">
                        <form>
                            <h2>Send Message</h2>
                            <div class="inputbox">
                                <input type="text" name="" required="required">
                                <span>Full Name</span>
                            </div>
                            <div class="inputbox">
                                <input type="text" name="" required="required">
                                <span>Email...</span>
                            </div>
                            <div class="inputbox">
                                <input type="text" name="" required="required">
                                <span>Type Your Message</span>
                            </div>
                            <div class="inputbox">
                                <input type="submit" name="" value="send">
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </section>
  
        
      </header>

   
    <footer>
        <div class="footer_main">
  
          <div class="footer-tag">
            <h2>Location</h2>
            <p>Kolkata</p>
            <p>Delhi</p>
            <p>Jammu & Kashmir</p>
            <p>Tamilnadu</p>
            <p>Srinagar</p>
            <p>Sikkim</p>
          </div>
  
          <div class="footer-tag">
            <h2>Quick Link</h2>
            <p>Home</p>
            <p>Menu</p>
            <p>SignUp</p>
            <p>SignIn</p>
            <p>Order</p>
            <p>AboutUs</p>
            <p>ContactUs</p>
            
          </div>
  
          <div class="footer-tag">
            <h2>Contact</h2>
            <p>+91 7980547826</p>
            <p>+91 7278963577</p>
            <p>aroy9923@gmail.com</p>
            <p>foodypanda123@gmail.com</p>
          </div>
          
          <div class="footer-tag">
            <h2>Our Services</h2>
            <p>Fast Delivery</p>
            <p>Easy Payment</p>
            <p>24 X 7 Service</p>
          </div>
  
        </div>
  
        <p class="end">Design by<span>@Akash Roy</span></p>
       </footer>
    </body>
</html>
  