<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Webpage</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body>

    <!--Navbar And Front-->
    <nav class="navbar">
      <h1 class="logo">Foody Panda</h1>
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="menu">Menu</a></li>
        <li><a href="signinpage">SignIn</a></li>
        <li><a href="orderNow">Order</a></li>
        <li><a href="#">AboutUs</a></li>
        <li><a href="ContactUs">ContactUs</a></li>
      </ul>
    </nav>
    <header>
      <div class="header-content">
        <h2>Explore The Taste</h2>
        <div class="line">
          <h1 class="line2">A Great food</h1>
          <a href="signinpage" class="btn">Order Now</a>
        </div>

      </div>
    </header>

    <!-- Menu section-->
     <section class="menu">
      <div class="card">
        <h1>Our Menu</h1>
        <div class="line"></div>
      </div>
      <div class="card-container">
        <div class="card-cnt">
          <img src="/static/media/img2.jpg">
          <div class="card-content">
            <h1>Title One</h1>
            <p>Rs-200/-</p>
            <a href="#" class="ctn">Order Now</a>
          </div>
        </div>
        <div class="card-cnt">
          <img src="/static/media/img3.jpg">
          <div class="card-content">
            <h1>Title One</h1>
            <a href="#" class="ctn">Order Now</a>
          </div>
        </div>
        <div class="card-cnt">
          <img src="/static/media/img4.jpg">
          <div class="card-content">
            <h1>Title One</h1>
            <a href="#" class="ctn">Order Now</a>
          </div>
        </div>
        <div class="card-cnt">
          <img src="/static/media/img5.jpg">
          <div class="card-content">
            <h1>Title One</h1>
            <a href="#" class="ctn">Order Now</a>
          </div>
        </div>
        <div class="card-cnt">
          <img src="/static/media/img6.jpg">
          <div class="card-content">
            <h1>Title One</h1>
            <a href="#" class="ctn">Order Now</a>
          </div>
        </div>
        <div class="card-cnt">
          <img src="/static/media/img8.jpg">
          <div class="card-content">
            <h1>Title One</h1>
            <a href="#" class="ctn">Order Now</a>
          </div>
        </div>
        <div class="card-cnt">
          <img src="/static/media/img9.jpg">
          <div class="card-content">
            <h1>Title One</h1>
            <a href="#" class="ctn">Order Now</a>
          </div>
        </div>
        <div class="card-cnt">
          <img src="/static/media/img11.jpg">
          <div class="card-content">
            <h1>Title One</h1>
            <a href="#" class="ctn">Order Now</a>
          </div>
        </div>
        <div class="review">
          <button class="btn1">Explore More</button>
         </div>
      </div>
     </section>

     <!--footer-->
     <footer>
      <div class="footer_main">

        <div class="footer-tag">
          <h2>Location</h2>
          <p>Kolkata</p>
          <p>Delhi</p>
          <p>Jammu & Kashmir</p>
          <p>Tamilnadu</p>
          <p>Srinagar</p>
          <p>Sikkim</p>
        </div>

        <div class="footer-tag">
          <h2>Quick Link</h2>
          <p>Home</p>
          <p>Menu</p>
          <p>SignUp</p>
          <p>SignIn</p>
          <p>Order</p>
          <p>AboutUs</p>
          <p>ContactUs</p>
          
        </div>

        <div class="footer-tag">
          <h2>Contact</h2>
          <p>+91 7980547826</p>
          <p>+91 7278963577</p>
          <p>aroy9923@gmail.com</p>
          <p>foodypanda123@gmail.com</p>
        </div>
        
        <div class="footer-tag">
          <h2>Our Services</h2>
          <p>Fast Delivery</p>
          <p>Easy Payment</p>
          <p>24 X 7 Service</p>
        </div>

      </div>

      <p class="end">Design by<span>@Akash Roy</span></p>
     </footer>

  </body>
</html>
